<div id="title">
  <h2 *ngIf="addMode && !editMode">Add New Book</h2>
  <h2 *ngIf="!addMode && editMode">Edit Book</h2>
</div>
<form (ngSubmit)="onSave()" #add="ngForm">
  <div class="form-group">

    <label for="title">Title</label>
    <input type="text"
           id="title item-name"
           class="form-control ellipses"
           name="title"
           [ngModel]=" book.title "
           required
           #title="ngModel"
           placeholder="{{ book.title}}">
    <span class="form-text text-muted" *ngIf="!title.valid && title.touched">This is a required field !</span>
    <span class="form-text text-muted" *ngIf="!validTitle && title.touched">
      This Book Name Already Exist. Please Choose Another.</span>

    <label for="author">Author</label>
    <input type="text"
           id="author"
           class="form-control ellipses"
           name="author"
           [ngModel]=" book.author "
           required
           #author="ngModel">
    <span class="form-text text-muted" *ngIf="!author.valid && author.touched">This is a required field !</span>

    <label for="date">Publication Year</label>
    <input type="number"
           id="date"
           min="1500"
           max="2018"
           class="item-number form-control"
           name="date"
           [ngModel]=" book.publicationDate "
           required
           #date="ngModel">
    <span class="form-text text-muted" *ngIf="!date.valid && date.touched">This is a required field !</span>
    <span class="form-text text-muted" *ngIf="!validDate && date.touched">Please Enter A Valid Date (1500-2018)</span>

    <div id="save">
      <button
              class="btn btn-success"
              [disabled]="!add.valid"
              (click)="onSave()"
              type="button">
              Save</button>
    </div>
    <div id="cancel">
      <button
              class="btn btn-danger"
              (click)="onCancel()"
              type="button"> Cancel</button>
    </div>
  </div>
</form>
